{% extends "base.html" %}
{% block body %}
<div class="table-responsive">
    <table class="table">
            <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Actions</th>
            </tr>
            {% for item in items %}
            <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.contact_type }}</td>
                    <td>
                            <ul>
                                    <li><a href="{{ url_for('.contacts_edit', id = item.id) }}">Edit</a></li>
                                    <li><a href="{{ url_for('.contacts_delete', id = item.id) }}">Delete</a></li>
                            </ul>
                    </td>
            </tr>
            {% endfor %}
    </table>
</div>

{% endblock %}
