{% extends "base.html" %}
{% block body %}
<div class="page-header">
    <h1>ACS Status: Estat dels serveis</h1>
</div>
<ul class="list-group">
        {% for check in checks %}
        <li class="list-group-item">
                <i 
            class="glyphicon glyphicon-{% if check.status == 'online' %}ok{% else %}remove{% endif %}-sign" 
            style="color: {% if check.status == 'online' %}green{% else %}red{% endif %};">
                </i>
                <a>{{ check.name }}</a>
        </li>
        {% endfor %}
</ul>
{% endblock %}
