{% extends "base.html" %}
{% block body %}
<div class="table-responsive">
    <table class="table">
            <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>check_interval</th>
                    <th>status</th>
                    <th>last_checked</th>
                    <th>confirmations</th>
                    <th>locked</th>
                    <th>last_locked</th>
                    <th>Actions</th>
            </tr>
            {% for item in items %}
            <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.check_type }}</td>
                    <td>{{ item.check_interval }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.last_checked }}</td>
                    <td>{{ item.confirmations }}</td>
                    <td>{{ item.locked }}</td>
                    <td>{{ item.last_locked }}</td>
                    <td>
                            <ul>
                                    <li><a href="{{ url_for('.checks_edit', id = item.id) }}">Edit</a></li>
                                    <li><a href="{{ url_for('.checks_delete', id = item.id) }}">Delete</a></li>
                            </ul>
                    </td>
            </tr>
            {% endfor %}
    </table>
</div>

{% endblock %}
